.appointments-content {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    padding-top: 50px;
    padding-right: 280px;
}

.appointments-left {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .appointments-header {
        display: flex;
        width: 90%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        padding-right: 80px;
        p {
            font-family: "Metropolis-Bold";
            font-size: 30px;
        }
        .add-register-icon {
            width: 40px;
            position: absolute;
            right: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    ul {
        width: 100%;
        max-height: 95%;
        box-sizing: border-box;
        padding-bottom: 200px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: auto;

        li {
            width: 190px;
            height: 120px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            color: #000;
            margin: 10px 10px 10px 10px;
            box-sizing: border-box;
            padding: 5px 15px 15px 10px;
            position: relative;

            h1 {
                font-family: "Metropolis-Bold";
                flex-wrap: wrap;
                font-size: 16px;
            }
            h2 {
                font-family: "Montserrat-ExtraLight";
                font-size: 11px;
            }

            h3 {
                position: absolute;
                bottom: 5px;
                font-family: "Montserrat-Bold";
                font-size: 12px;
            }

            .appointment-icon {
                position: absolute;
                right: 8px;
                bottom: 7px;
                width: 22px;
                &:hover {
                    cursor: pointer;
                }
            }

            p {
                overflow-wrap: break-word;
                word-wrap: break-word;
                width: 240px;
                flex-wrap: wrap;
                height: max-content;
                position: absolute;
                top: 120px;
                left: 0px;
                z-index: 999;
                box-sizing: border-box;
                padding: 10px 10px 10px 10px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                background-color: aquamarine;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                text-align: start;
            }
        }
    }
    ul::-webkit-scrollbar {
        width: 10px;
    }
}

.appointments-right {
    width: 760px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0px;
    background-color: #fff;
    z-index: 2;
    .form-title {
        margin-bottom: 30px;
        font-family: "Metropolis-Black";
        color: #737373;
        font-size: 40px;
    }
    .close-register-icon {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

.opacity-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.filter-column {
    position: fixed;
    background-color: #fff;
    width: 280px;
    height: 100%;
    right: 0px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 20px;
    p {
        font-family: "Metropolis-Black";
        font-size: 26px;
    }

    h1 {
        font-family: "Montserrat-ExtraLight";
        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 30px;
    }
    .filter-line {
        width: 220px;
        height: 1px;
        background-color: #000;
        margin-bottom: 10px;
    }
    .checkbox-container {
        display: flex;
        align-items: center;
        margin-left: 15px;
        input {
            margin-right: 6px;
            border-radius: 4px;
        }
        h3 {
            font-family: "Montserrat-ExtraLight";
            font-size: 14px;
        }
    }
}
