.clients-content {
    width: 100%;
    height: 100vh;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    padding-top: 46px;

    .clients-header {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        padding: 20px 60px 20px 60px;
        background-color: red;
        p {
            color: #000;
        }
        .add-client-icon {
            width: 30px;
        }
    }
}

.clients-right {
    width: 760px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0px;
    background-color: #fff;
    z-index: 2;
    transition: 1s;
}

.close-client-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.client-opacity-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.all-clients {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.client-container {
    width: 90%;
    height: 120px;
    background-color: burlywood;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-info {
    width: 90%;
    margin-bottom: 40px;
}

.arrow-icon {
    width: 35px;
    height: 35px;
}
