.dashboard-content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/public/assets/imgs/dashboard_bg.jpg') center center no-repeat;
    background-size: cover;
}
