.dashboard-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.dashboard-services{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 30px 45px 30px 45px;
        background-color: #4b5563;
        border-radius: 30px;
        margin-bottom: 30px;
        p{
            font-size: 20px;
            font-weight: bold;
        }
        button{
            width: 30px;
            box-sizing: border-box;
            background-color: darkblue;
            clip-path: circle(50% at 50% 50%);
        }
    }
}
