.nav-header {
    width: 100%;
    height: 46px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 50px;
    background-color: #1d2125;
    position: fixed;
    top: 0px;
    color: #9aa8b7;
    font-family: 'Metropolis-bold';
    font-size: 14px;
    border-width: 1px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: #9aa8b7;
    .justice-svg {
        position: absolute;
        display: flex;
        top: 10px;
        left: 20px;
        img{
            width: 22px;
        }
    }
    .header-options{
        margin-left: 50px;
    }
    .dashboard-user {
        position: absolute;
        display: flex;
        border-radius: 7px;
        top: 8px;
        right: 10px;
        &:hover{
            transition: 100ms;
            color: #fff;
        }
        &:not(:hover){
            transition: 100ms;
        }
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        padding-right: 80px;
    }
}
