@tailwind base;
@tailwind components;
@tailwind utilities;
@import "Dashboard/welcome";
@import "Dashboard/dashboard";
@import "Dashboard/navbar";
@import "Dashboard/appointments"; 
@import "Dashboard/clients"; 
@import "Components/create-atendimento";
@import "Components/create-cliente";
@import 'fonts';
