@tailwind base;
@tailwind components;
@tailwind utilities;
@import "Dashboard/welcome";
@import "Dashboard/dashboard";
@import "Dashboard/navbar";
@import "Components/create-atendimento";
@import 'fonts';

.app-content {
    min-width: 100vw;
    min-height: 100vh;
    background: #d3d3d3;
    box-sizing: border-box;
    padding-top: 50px;
}
