@font-face {
    font-family: "Metropolis-Black";
    src: url("Fonts/Metropolis-Black.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis-Bold";
    src: url("Fonts/Metropolis-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
